<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">URI</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <input class="input" type="text" placeholder="/some-page/ or /some-page.html" v-model="new_row.uri">
            </div>
            <p class="help is-danger">
                (со слэшами)
            </p>
        </div>
    </div>

</div>
<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">Название</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <input class="input" type="text" placeholder="" v-model="new_row.name">
            </div>
        </div>
    </div>

</div>