<div class="content pt-3">
    <h1>Меню сайта</h1>
</div>

{{script src="/mjs/admin-vv-menu/menu.js" defer=1}}

<div id="menu_app" style="display: none">


    {{capture name="vted_header"}}
        <strong>{{"row.uri"|js}}</strong> {{"row.name"|js}} <span class="tag is-primary"># {{"row.id"|js}}</span>
    {{/capture}}

    {{capture name="list"}}

        <div class="columns" v-if="path.ss === undefined">
            <div class="column">
                <div class="buttons">
                    <button
                            :class="['button', 'is-info', {'is-outlined': !((grp.grp == path.sk) || (grp.grp.length === 0 && path.sk === undefined))}]"
                            v-for="(grp, index) in code_lst"
                            @click="select_sk(grp.grp)"
                            type="button">
                        {{"(grp.grp.length > 0)?grp.grp:'(нет)'"|js}}
                    </button>
                </div>
            </div>
            <div class="column has-text-right">
                <button
                        class="button is-info"
                        @click="export_menu()"
                        v-if="path.sk !== undefined"
                        type="button">
                    Экспорт
                </button>
                <button
                        class="button is-warning"
                        @click="import_menu()"
                        type="button">
                    Импорт
                </button>
            </div>
        </div>


        {{include file="db:_comp/vted,controls" controls_type="top"}}

        {{include file="db:page/vue_paginator"}}

        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th width="10%">
                    Id <small class="is-pulled-right">Порядок</small>
                </th>
                <th width="7%" class="has-text-centered">
                    Ниже
                </th>
                <th width="8%" class="has-text-centered">
                    Группа
                </th>

                <th width="20%">
                    URI
                </th>
                <th width="30%">
                    Текст ссылки
                    <small class="is-pulled-right">Права</small>
                </th>
                <th width="15%" class="has-text-right">
                    Действия
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(row, index) in lst">
                <td>{{"row.id"|js}}
                    <span class="is-pulled-right tag is-info">{{"row.ord"|js}}</span>
                </td>
                <td>
                    {{include file="db:_comp/vted,columns" column_type="children"}}
                </td>
                <td class="has-text-centered">
                    {{"row.grp"|js}}
                </td>
                <td>
                    <a :href="row.ilink" @click="navigate(row.ilink, $event)">{{"row.uri"|js}}</a>
                </td>
                <td>
                    <a :href="row.ilink" @click="navigate(row.ilink, $event)">{{"row.name"|js}}</a>
                    <small class="is-pulled-right">{{"row.grant"|js}}</small>
                </td>
                <td>
                    {{include file="db:_comp/vted,row_controls"}}
                </td>
            </tr>
            </tbody>
        </table>

        {{include file="db:page/vue_paginator"}}

        <modal id="menuExportModal" :submit="submit_import">
            <template slot="header">
                Экспорт / импорт элементов меню
            </template>

            <textarea class="textarea" rows="10" v-model="menu_json">

        </textarea>

            <template slot="actions">
                <button type="submit" class="button is-success">Импорт</button>
            </template>
        </modal>

    {{/capture}}


    {{include file="db:_comp/vted"}}

</div>

<div class="app-loading">
    {{include file="db:inc/spinner"}}
</div>

<script>
    var string_imported = "Успешно импортировано";
</script>
