<?xml version="1.0" encoding="UTF-8"?>

<yml_catalog date="{{"Y-m-d H:i"|date}}">
    <shop>
        <name>{{"yml_name"|emps:get_setting}}</name>
        <company>{{"yml_company"|emps:get_setting}}</company>
        <url>{{$BaseURL}}{{"yml_url"|emps:get_setting}}</url>
        <currencies>
            <currency id="RUB" rate="1"/>
        </currencies>
        <categories>
{{foreach from=$categories item="cat"}}
            <category id="{{$cat.id}}"{{if $cat.parent > 0}} parentId="{{$cat.parent}}"{{/if}}>{{$cat.name|escape:html}}</category>
{{/foreach}}
        </categories>
        <offers>
{{foreach from=$items item="item"}}
{{if $item.pic}}
            <offer id="{{if $item.offer_id}}{{$item.offer_id}}{{else}}{{$item.id}}{{/if}}">
                <name>{{$item.name|escape:html}}</name>
                <url>{{$BaseURL}}{{$item.link}}</url>
                <price>{{$item.price}}</price>
{{if $item.old_price > 0}}
                <oldprice>{{$item.old_price}}</oldprice>
{{/if}}
                <currencyId>RUB</currencyId>
                <categoryId>{{$item.node_id}}</categoryId>

                <picture>{{$BaseURL}}/pic/{{$item.pic.md5}}/{{$item.pic.filename}}</picture>
{{if $item.html|trim|strlen > 0 }}
                <description>
                    <![CDATA[
{{$item.html}}
                    ]]>
                </description>
{{/if}}
{{if $item.group_id}}
                <group_id>{{$item.group_id}}</group_id>
{{/if}}
{{foreach from=$item.yml_params item=$param}}
                {{$param}}
{{/foreach}}
                <delivery>true</delivery>
                <pickup>true</pickup>
            </offer>
{{/if}}
{{/foreach}}
        </offers>
    </shop>
</yml_catalog>