<div class="emps-montage-container">
    {{foreach from=($pset|@array_reverse:true) item="pic"}}
        {{$use_vert = $vert}}
        {{$use_hor = "16x9"}}
        {{if $pic.vert}}
            {{$use_hor = "16x18"}}
        {{/if}}
        {{if !$size}}
            {{$size = "600x600"}}
        {{/if}}
        <a class="emps-montage-item ipbox"
           rel="{{$rel}}"
           href="/pic/{{$pic.md5}}/{{$pic.filename}}"
           title="{{$pretitle}}{{if $pretitle && $pic.descr}}: {{/if}}{{$pic.descr}}"
{{*           info="vert={{$pic.vert}}&psize={{$pic.psize}}&w={{$pic.w}}&h={{$pic.h}}"*}}
           style="background-image: url('/{{if $fullpic}}pic{{else}}freepic{{/if}}/{{$pic.md5}}/{{$pic.filename}}{{if !$fullpic}}?size={{$size}}&opts=inner{{/if}}"
        >{{if $use_vert}}<img src="/i/3x4.png" />{{else}}<img src="/i/{{$use_hor}}.png" />{{/if}}</a>
    {{/foreach}}
</div>


{{*

<div class="ip-photoreport">
<div class="ip-pr-shade"></div>
<div class="ip-pr-tag">Фоторепортаж</div>
<div class="ip-pr-bg">
<a href="javascript:sink()" class="ip-pr-click ip-prc-left"></a>
<a href="javascript:sink()" class="ip-pr-click ip-prc-right"></a>
<div class="ip-pr-scroller">
<div class="ip-pr-scroller-in">
{{section name=k loop=$pset}}
<a href="/pic/{{$pset[k].md5}}.jpg" class="fancybox" rel="{{$rel}}" title="{{$pset[k].descr|escape:html}}"><img src="/freepic/{{$pset[k].md5}}.jpg?size=150x150" width="150" height="150" border="0" /></a>
{{/section}}
</div>
</div>
</div>
</div>

*}}