<div class="blocks-elements">
    <a @click.stop.prevent="select_element('blocks/div')">DIV</a>
    <a @click.stop.prevent="select_element('blocks/header')">Header</a>
    <a @click.stop.prevent="select_element('blocks/section')">Section</a>
    <a @click.stop.prevent="select_element('blocks/html')">HTML</a>
    <a @click.stop.prevent="select_element('blocks/plain')">Plain text</a>
    <a @click.stop.prevent="select_element('blocks/sep/hr')">Horizontal line</a>
    <a @click.stop.prevent="select_element('blocks/panel/root')">Panel: root</a>
    <a @click.stop.prevent="select_element('blocks/panel/block')">Panel: block</a>
    <a @click.stop.prevent="select_element('blocks/grid/columns')">Columns</a>
    <a @click.stop.prevent="select_element('blocks/grid/column')">Column</a>
    <a @click.stop.prevent="select_element('blocks/box/root')">Box</a>
    <a @click.stop.prevent="select_element('blocks/image/wlb')">Image with Fancybox</a>
    <a @click.stop.prevent="select_element('blocks/image/banner')">Banner with Link</a>
</div>
