<div class="embed-responsive embed-responsive-16by9 container-16x9">
{{if $video.screencast_url}}
<iframe class="embed-responsive tscplayer_inline embeddedObject" name="tsc_player" scrolling="no" frameborder="0" type="text/html" style="overflow:hidden;" src="{{$video.screencast_url}}" height="100%" width="100%" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
{{else}}
<iframe class="embed-responsive" src="{{if $video.youtube_id}}//www.youtube.com/embed/{{$video.youtube_id}}{{elseif $video.vimeo_id}}//player.vimeo.com/video/{{$video.vimeo_id}}{{elseif $video.rutube_id}}{{$video.embed_url}}{{/if}}" width="100%" height="100%" frameborder="0" allowfullscreen=""></iframe>
{{/if}}
</div>


