{{if $AdminNeeded}}

    <div class="content">
<div class="page-header">
<h1>Необходимы права администратора</h1>
</div>
<p class="alert alert-danger">Извините, но данная страница предназначена исключительно для администраторов сайта.</p>
<p>Если Вы администратор, тогда милости просим:</p>
        <div></div>
    </div>

{{include file="db:inc/inlinelogin"}}
{{elseif $WebsiteNeeded}}
<div class="content">
<h1>Перейдите на другой сайт</h1>
<p>Данная функция недоступна с корневого сайта. Перейдите на один из зависимых сайтов:</p>
<ul>
{{section name=i loop=$wlst}}
<li><a href="http://{{$wlst[i].hostname}}{{$current_url}}"><strong>{{$wlst[i].name}}</strong> (http://{{$wlst[i].hostname}})</li>
{{/section}}
</ul>
</div>
{{elseif $UserNeeded}}

<div class="content">
<h1>Только для зарегистрированных пользователей</h1>
<div class="read">
<p>Извините, но данная страница предназначена только для зарегистрированных пользователей.</p>
    <div></div>
</div>

</div>

{{include file="db:inc/inlinelogin"}}

{{else}}
{{if $use_sape_context}}
{{include file=$main_body assign="main_body_html"}}
{{emps plugin="sapecontext" text=$main_body_html}}
{{else}}
{{include file=$main_body}}
{{/if}}
{{/if}}
