{{if $lang == "en"}}
    {{$str_save_changes = "Save Changes"}}
    {{$str_insert_info = "Insert images and media"}}
    {{$str_photo = "Photo"}}
    {{$str_photoset = "Photo Gallery"}}
    {{$str_video = "Video"}}
    {{$str_audio = "Audio"}}
    {{$str_cut = "Cut"}}
{{else}}
    {{$str_save_changes = "Сохранить изменения"}}
    {{$str_insert_info = "Вставка иллюстраций и ссылок"}}
    {{$str_photo = "Фото"}}
    {{$str_photoset = "Фотогалерея"}}
    {{$str_video = "Видео"}}
    {{$str_audio = "Аудио"}}
    {{$str_cut = "Конец"}}
{{/if}}
<form action="./" method="post" @submit="submit_form">
    <input type="hidden" name="post_save" value="1" />

    <div class="columns">
        <div class="column is-9">
            <div class="content">
                <editor v-model="{{if $html_model}}{{$html_model}}{{else}}selected_row.html{{/if}}" id="{{if $html_id}}{{$html_id}}{{else}}htmlpad_editor{{/if}}" :init="emps_tinymce_settings"></editor>
            </div>

        </div>
        <div class="column is-3">
            <div class="field">
                <button type="submit" class="button is-medium is-primary is-fullwidth">{{$str_save_changes}}</button>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <small>{{$str_insert_info}}</small>
                </div>
                <div class="panel-block">
                    <div class="buttons">
                        <button type="button"
                                @click="trigger('htmlinsert:photo')"
                                class="button is-small is-info is-outlined">{{$str_photo}}</button>
                        <button type="button"
                                @click="trigger('htmlinsert:photos')"
                                class="button is-small is-info is-outlined">{{$str_photoset}}</button>
                        <button type="button"
                                @click="trigger('htmlinsert:video')"
                                class="button is-small is-info is-outlined">{{$str_video}}</button>
                        <button type="button"
                                @click="trigger('htmlinsert:audio')"
                                class="button is-small is-info is-outlined">{{$str_audio}}</button>
                        <button type="button"
                                @click="trigger('htmlinsert:cut')"
                                class="button is-small is-warning is-outlined">{{$str_cut}}</button>
                    </div>
                </div>
                <div class="panel-block content is-block">
                    <small>
                        {{if $lang == "en"}}
                            <p>Set the cursor to the position in the text where you want to insert the image or another object.</p>
                            <p>Before inserting images, please upload them at the «Photos» tab.</p>
                        {{else}}
                            <p>Установите курсор в том месте текста, куда хотите вставить код иллюстрации или другой шаблон.</p>
                            <p>Прежде чем добавлять иллюстрации, загрузите их через вкладку «Изображения».</p>
                        {{/if}}
                    </small>
                </div>
            </div>

        </div>
    </div>
</form>

{{if !$html_id}}
    {{$html_id = "htmlpad_editor"}}
{{/if}}

{{include file="db:_comp/htmlinsert" id=$html_id}}


