{{if $lang == "en"}}
    {{$str_select = "Select an Item"}}
    {{$str_help = "Start typing to search"}}
    {{$str_notfound = "(nothing found)"}}
{{else}}
    {{$str_select = "Выбрать элемент"}}
    {{$str_help = "Начните набирать название для поиска"}}
    {{$str_notfound = "(ничего не найдено)"}}
{{/if}}
<script type="text/x-template" id="selector-template">
    <div>
        <modal :id="modal_name()" :size="size" >
            <template slot="header">
                {{$str_select}}: <span v-html="title"></span>
            </template>

            <template>
                <div class="field" v-if="search">
                    <input type="text"
                           v-model="searchtext"
                           @keyup="ask_reload"
                           class="input" placeholder="{{$str_help}}"/>
                </div>
                <div style="min-height:40vh">
                    <nav class="panel">
                        <a
                                v-for="(srow, index) in lst"
                                :class="['panel-block', 'is-flex', {'has-background-grey-lighter': srow.id == value}]"
                                href="javascript:;"
                                @click="select_item(srow)">
                            <span v-html="srow.display_name" style="flex:5"></span>
                            <small v-if="hasExtra" v-html="srow.extra_info" style="flex:7"></small>
                            <span class="tag is-info" v-html="srow.id"></span>
                        </a>
                    </nav>
                    <div v-if="lst.length == 0" class="has-text-centered">
                        {{$str_notfound}}
                    </div>

                </div>

                <div v-if="!noPages">
                    {{include file="db:page/vue_paginator"}}
                </div>


            </template>

        </modal>

        <div v-if="readOnly">
            <div class="input" v-html="description">
            </div>
        </div>
        <div v-else :class="[{'field': !noField}, {'has-addons': !noClear}]">
            <p class="control is-expanded">
            <input :class="'input ' + exclass" :value="description" :placeholder="placeholder" readonly="readonly" @click="select()"/>
            </p>
            <p class="control" v-if="infoButton && (value > 0)">
                <a :class="'button ' + exclass" @click="follow_link">
                    <i class="fa fa-ellipsis-v"></i>
                </a>
            </p>
            <p class="control" v-if="!noClear">
                <a :class="'button ' + exclass" @click="clear()">
                    <i class="fa fa-remove"></i>
                </a>
            </p>
        </div>

    </div>
</script>
{{script src="/mjs/comp-selector/selector.js" defer=1}}