{{if $lang == "en"}}
    {{$str_pages = "Content Pages"}}
    {{$str_name = "Page Title"}}
    {{$str_actions = "Actions"}}
    {{$str_export_selected = "Export Selected"}}
    {{$str_import = "Import"}}
    {{$str_exim = "Export / Import Pages"}}
    {{$str_view = "Preview"}}
    {{$str_im_success = "Successfully imported!"}}
{{else}}
    {{$str_pages = "Страницы сайта"}}
    {{$str_name = "Название страницы"}}
    {{$str_actions = "Действия"}}
    {{$str_export_selected = "Экспортировать выбранные"}}
    {{$str_import = "Импорт"}}
    {{$str_exim = "Экспорт / импорт страниц сайта"}}
    {{$str_view = "Просмотр"}}
    {{$str_im_success = "Успешно импортировано"}}
{{/if}}

<div class="content pt-3">
    <h1>{{$str_pages}}</h1>
</div>

{{script src="/mjs/admin-vv-content/content.js" defer=1}}

<div id="content_app" style="display: none">


    {{capture name="vted_header"}}
        <strong>{{"row.uri"|js}}</strong> {{"row.title"|js}} <span class="tag is-primary"># {{"row.id"|js}}</span>
    {{/capture}}

    {{capture name="list"}}
        {{include file="db:_comp/vted,controls" controls_type="top"}}

        {{include file="db:page/vue_paginator"}}

        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th width="5%" class="has-text-centered"><button type="button" class="button is-small is-white" @click="select_inverse()"><i class="fa fa-check-square-o"></i></button></th>
                <th width="10%">
                    Id
                </th>

                <th width="20%">
                    URI
                </th>
                <th width="48%">
                    {{$str_name}}
                </th>
                <th width="17%" class="has-text-right">
                    {{$str_actions}}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(row, index) in lst">
                <td>
                    <input type="checkbox" v-model="row.checked"/>
                </td>
                <td>{{"row.id"|js}}
                </td>
                <td>
                    <a :href="row.ilink" @click="navigate(row.ilink, $event)">{{"row.uri"|js}}</a>
                </td>
                <td>
                    <a :href="row.ilink" @click="navigate(row.ilink, $event)">{{"row.title"|js}}</a>
                </td>
                <td>
                    {{include file="db:_comp/vted,row_controls"}}
                </td>
            </tr>
            </tbody>
        </table>

        {{include file="db:page/vue_paginator"}}

        <div class="columns">
            <div class="column">
                <button class="button is-info is-outlined" type="button" @click.stop="export_selected">{{$str_export_selected}}</button>
            </div>
            <div class="column has-text-right">
                <button class="button is-info is-outlined" type="button" @click.stop="open_import">{{$str_import}}</button>
            </div>
        </div>


        <modal id="importExportModal" :submit="submit_import">
            <template slot="header">
                {{$str_exim}}
            </template>

            <textarea class="textarea" rows="10" v-model="content_json">

        </textarea>

            <template slot="actions">
                <button type="submit" class="button is-success">{{$str_import}}</button>
            </template>
        </modal>
    {{/capture}}

    {{capture name="buttons_pre"}}
        <a :href="selected_row.uri" class="button is-info is-outlined">
            <i class="fa fa-eye"></i> &nbsp;
            {{$str_view}}</a>
    {{/capture}}
    {{include file="db:_comp/vted"}}



</div>
<div class="app-loading">
    {{include file="db:inc/spinner"}}
</div>

<script>
    var string_imported = "{{$str_im_success}}";
</script>
