{{if $lang == "en"}}
    {{$str_with_slashes = "(with slashes)"}}
    {{$str_title = "Title"}}
{{else}}
    {{$str_with_slashes = "(со слэшами)"}}
    {{$str_title = "Название"}}
{{/if}}
<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">URI</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <input class="input" type="text" placeholder="/some-page/ or /some-page.html" v-model="new_row.uri">
            </div>
            <p class="help is-danger">
                {{$str_with_slashes}}
            </p>
        </div>
    </div>

</div>
<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">{{$str_title}}</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <input class="input" type="text" placeholder="" v-model="new_row.title">
            </div>
        </div>
    </div>

</div>