.select-frame {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid rgba(0,0,200,1);
    background: none;
    pointer-events: none;
    display: none;
    box-sizing: border-box;
}

.select-frame-left {
    position: absolute;
    top: 0;
    bottom: 0;
    display: none;
    opacity: 0.75;
}

.select-frame.l-2 {
    border: 1px solid rgba(0,0,200,0.4);
}

.select-frame.l-3 {
    border: 1px solid rgba(0,0,200,0.2);
}

.select-frame.l-4 {
    border: 1px solid rgba(0,0,200,0.1);
}

#preview-app {
    padding: 0.25rem;
}