{{if $lang == "en"}}
    {{$str_select = "Select files"}}
    {{$str_select_one = "Select file"}}
    {{$str_by_url = "By URL"}}
    {{$str_by_clipboard = "Paste"}}
    {{$str_delete = "Delete"}}
    {{$str_cancel = "Cancel"}}
    {{$str_no_descr = "(no description)"}}
    {{$str_descr = "Description"}}
    {{$str_change_file = "Change file"}}
    {{$str_extra = "Extra"}}
    {{$str_quality = "Quality"}}
    {{$str_please_confirm = "Please confirm"}}
    {{$str_delete_selected = "Delete selected photos?"}}
    {{$str_yes = "Yes"}}
    {{$str_desc_title = "Photo description"}}
    {{$str_text = "Text"}}
    {{$str_save_changes = "Save Changes"}}
    {{$str_by_url_title = "Download photos from URL"}}
    {{$str_links = "Links to photos"}}
    {{$str_links_help = "Can be multiple URLs. One per line."}}
    {{$str_downloading = "Downloading photos..."}}
    {{$str_download = "Download photos"}}
    {{$str_change_file2 = "Replace file"}}
    {{$str_upload = "Upload"}}
    {{$str_download_by_url = "Download by URL"}}
    {{$str_uploading_progress = "Uploading a new file..."}}
    {{$str_file_link = "URL of the file"}}
    {{$str_export = "Export"}}
    {{$str_export_zip = "Download ZIP"}}
    {{$str_import_zip = "Import ZIP"}}
    {{$str_edit_photo = "Edit Photo"}}
{{else}}
    {{$str_select = "Выбрать файлы"}}
    {{$str_select_one = "Выбрать файл"}}
    {{$str_by_url = "По ссылке"}}
    {{$str_by_clipboard = "Из буфера"}}
    {{$str_delete = "Удалить"}}
    {{$str_cancel = "Отмена"}}
    {{$str_no_descr = "(нет описания)"}}
    {{$str_descr = "Описание"}}
    {{$str_change_file = "Сменить файл"}}
    {{$str_extra = "Дополнительно"}}
    {{$str_quality = "Качество"}}
    {{$str_please_confirm = "Подтвердите, пожалуйста"}}
    {{$str_delete_selected = "Удалить выбранные фотографии?"}}
    {{$str_yes = "Да"}}
    {{$str_desc_title = "Описание изображения"}}
    {{$str_text = "Текст"}}
    {{$str_save_changes = "Сохранить изменения"}}
    {{$str_by_url_title = "Скачать фотографии по ссылке"}}
    {{$str_links = "Ссылки на фотографии"}}
    {{$str_links_help = "Можно много ссылок. Одна строка &ndash; одна ссылка."}}
    {{$str_downloading = "Идёт скачивание фотографий..."}}
    {{$str_download = "Скачать фотографии"}}
    {{$str_change_file2 = "Заменить файл"}}
    {{$str_upload = "Загрузить"}}
    {{$str_download_by_url = "Скачать по ссылке"}}
    {{$str_uploading_progress = "Идёт загрузка нового файла..."}}
    {{$str_file_link = "Ссылка на файл"}}
    {{$str_export = "Экспорт"}}
    {{$str_export_zip = "Скачать ZIP"}}
    {{$str_import_zip = "Загрузить ZIP"}}
    {{$str_edit_photo = "Редактировать фотографию"}}
{{/if}}
<photo-uploader inline-template pad="{{$pad}}">

    <div class="photo-uploader">


        <input type="file" multiple id="files" ref="files" @change="handle_uploads()"/>

        <div class="columns is-gapless">
            <div class="column is-narrow buttons">
                <button type="button" @click="add_files" class="button is-primary is-outlined">
                    <i class="fa fa-hand-pointer-o"></i> &nbsp; {{$str_select}}</button>
                <div></div>
            </div>
            <div class="column is-narrow buttons">
                <button type="button" @click="download_files" class="button is-primary is-outlined">
                    <i class="fa fa-download"></i> &nbsp; {{$str_by_url}}</button>
                <button type="button" @click="upload_zip" class="button is-primary is-outlined">
                    <i class="fa fa-upload"></i> &nbsp; {{$str_import_zip}}</button>
                <div></div>
            </div>
            <div class="column is-1">
                <input type="text" ref="clip" @paste="on_paste" class="input" placeholder="{{$str_by_clipboard}}"/>
            </div>
            <div class="column">
                <div class="button-size is-fullwidth">
                    <progress class="progress is-info"
                              v-if="is_uploading()"
                              :value="get_total_progress()" max="100"></progress>
                </div>

            </div>
            <div class="column buttons is-justified-end is-narrow">
                <button type="button" @click="export_pics" class="button is-info is-outlined">
                    <i class="fa fa-save"></i> &nbsp; {{$str_export}}</button>
                <button type="button" @click="delete_selected" v-if="!is_uploading()" class="button is-danger is-outlined">
                    <i class="fa fa-remove"></i> &nbsp; {{$str_delete}}</button>
                <button type="button" @click="cancel_all" v-else class="button is-warning is-outlined">
                    <i class="fa fa-ban"></i> &nbsp; {{$str_cancel}}</button>
                <button type="button" class="button is-white" @click="inverse_selection()" >
                    <i class="fa fa-check-square-o" ></i>
                </button>
            </div>
        </div>

        <div v-sortable="{onUpdate: on_sort_photos}">
        <div class="box" v-for="(file, index) in files">
            <div class="media">
                <div class="media-left">
                    <figure class="image upload-image">
                        <a :href="file.url" target="_blank"><img :src="file.thumbnail" :alt="file.name"></a>
                    </figure>
                </div>
                <div class="media-content" style="overflow: hidden">
                    <div class="columns">
                        <div class="column is-6">
                            <p>
                                <a :href="file.url" target="_blank"><strong>{{"file.name"|js}}</strong></a>
                                <span class="tag is-light">{{"file.id"|js}}</span>
                            </p>
                            <p v-if="file.descr == ''">{{$str_no_descr}}</p>
                            <p v-else>{{"file.descr"|js}}</p>
                            <div class="buttons">
                                <button type="button" class="button is-small is-primary" @click="edit_descr(file)">
                                    <i class="fa fa-pencil"></i> &nbsp; {{$str_descr}}
                                </button>
                                <button type="button"
                                        @click="change_file(file)"
                                        class="button is-small is-primary is-outlined">
                                    <i class="fa fa-exchange"></i> &nbsp; {{$str_change_file}}
                                </button>
                                <button type="button"
                                        @click="photo_editor(file)"
                                        class="button is-small is-primary is-outlined">
                                    <i class="fa fa-ellipsis-h"></i> &nbsp; {{$str_extra}}
                                </button>
                            </div>
                        </div>
                        <div class="column is-4 has-text-centered">
                            {{"format_size(file.size)"|js}}<br/>
                            <small>{{$str_quality}} {{"file.qual"|js}}%</small>
                        </div>
                        <div class="column is-2 has-text-right">
                            &nbsp;<br/>
                            <button type="button"
                                    @click="delete_file(file)"
                                    class="button is-outlined is-danger">
                                <i class="fa fa-remove"></i> &nbsp; {{$str_delete}}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="media-right has-text-right">
                    <i class="button-size handle"><i class="fa fa-hand-grab-o"></i></i><br/>
                    <div class="button-size"><input type="checkbox" class="image-check" v-model="file.mark"/></div>
                </div>
            </div>
        </div>
        </div>
        {{*<div v-sortable="{handle: '.handle'}">*}}
        <div class="box" v-for="(file, index) in queue">
            <div class="media">
                <div class="media-left">
                    <figure class="image upload-image">
                        <a>
                            <img :src="file.image_url" alt="Фото">
                        </a>
                    </figure>
                </div>
                <div class="media-content">
                    <div class="columns">
                        <div class="column is-6">
                            <div class="content">
                                <p>
                                    <strong>{{"file.name"|js}}</strong>
                                </p>
                            </div>

                        </div>
                        <div class="column is-4 has-text-centered">
                            {{"format_size(file.size)"|js}}<br/>
                            <div class="button-size is-fullwidth">
                                <progress
                                        class="progress is-info" :value="get_progress(file)" max="100"></progress>
                            </div>
                        </div>
                        <div class="column is-2 has-text-right">
                            &nbsp;<br/>
                            <button type="button"
                                    @click="cancel_upload(file)"
                                    class="button is-outlined is-warning">
                                <i class="fa fa-ban"></i> &nbsp; {{$str_cancel}}
                            </button>
                        </div>
                    </div>
                </div>
{{*                <div class="media-right">
                    <i class="button is-white handle"><i class="fa fa-hand-grab-o"></i></i>
                </div>*}}
            </div>
        </div>
        {{*</div>*}}

        <div class="field">Context: {{ context_id }}</div>

        <modal id="deleteSelectedModal" size="sm">
            <template slot="header">{{$str_please_confirm}}</template>

            {{$str_delete_selected}}

            <template slot="actions">
                <button type="button" class="button is-danger" @click="delete_selected_do()">{{$str_yes}}</button>
            </template>
        </modal>

        <modal id="descrModal" :submit="submit_descr">
            <template slot="header">{{$str_desc_title}}</template>

            <div class="field">
                <label class="label">{{$str_text}}:</label>
                <textarea v-model="selected_photo.descr" class="textarea" rows="5"></textarea>
            </div>

            <template slot="actions">
                <button type="submit" class="button is-success">{{$str_save_changes}}</button>
            </template>
        </modal>

        <modal id="importModal" :submit="submit_import">
            <template slot="header">{{$str_by_url_title}}</template>

            <div class="field" v-if="!importing">
                <label class="label">{{$str_links}}:</label>
                <textarea v-model="import_list" class="textarea" rows="5"></textarea>
                <div class="help">{{$str_links_help}}</div>
            </div>
            <div v-if="importing" class="content">
                <p>{{$str_downloading}}</p>
                <progress class="progress is-warning"></progress>
            </div>

            <template slot="actions">
                <button type="submit" class="button is-success" :disabled="importing">{{$str_download}}</button>
            </template>
        </modal>

        <modal id="exportPicsModal">
            <template slot="header">{{$str_export}}</template>

            <div class="field">
                <label class="label">{{$str_links}}:</label>
                <textarea v-model="export_list" class="textarea" rows="5"></textarea>
            </div>
            <template slot="actions">
                <a :href="export_zip_link" class="button is-success">{{$str_export_zip}}</a>
            </template>
        </modal>

        <modal id="uploadZipModal" :submit="handle_zip_upload">
            <template slot="header">{{$str_import_zip}}</template>

            <div class="field" v-if="!uploading_zip">
                <input type="file" id="zip-file" ref="zip_file" @change="handle_zip_upload"/>
                <button type="button" @click="select_zip_file" class="button is-primary is-outlined">
                    <i class="fa fa-hand-pointer-o"></i> &nbsp; {{$str_select_one}}</button>

            </div>
            <div v-else class="content">
                <p>{{$str_uploading_progress}}</p>
                <progress class="progress is-warning"></progress>
            </div>

            <template slot="actions">
                <button type="submit" class="button is-success">{{$str_import_zip}}</button>
            </template>
        </modal>

        <modal id="changeModal" :submit="submit_change">
            <template slot="header">{{$str_change_file}}</template>

            <div class="is-block">
                <p>{{$str_change_file2}} <strong>{{"selected_photo.filename"|js}}</strong> <span class="tag">{{"selected_photo.id"|js}}</span></p>

                <div class="tabs is-block" style="margin-bottom: 1rem">
                    <ul>
                        <li :class="{'is-active': change_mode == 'upload'}" @click="change_mode = 'upload'">
                            <a>{{$str_upload}}</a>
                        </li>
                        <li :class="{'is-active': change_mode == 'download'}" @click="change_mode = 'download'">
                            <a>{{$str_download_by_url}}</a>
                        </li>
                    </ul>
                </div>

                <div v-if="change_uploading" class="content">
                    <p>{{$str_uploading_progress}}</p>
                    <progress class="progress is-warning"></progress>
                </div>

                <div v-else>
                    <div v-if="change_mode == 'upload'">
                        <input type="file" id="change-file" ref="change_file" @change="handle_change_upload()"/>
                        <button type="button" @click="select_change_file()" class="button is-primary is-outlined">
                            <i class="fa fa-hand-pointer-o"></i> &nbsp; {{$str_select_one}}</button>

                    </div>

                    <div v-if="change_mode == 'download'">
                        <input type="text" class="input" v-model="change_download_url" placeholder="{{$str_file_link}}" />
                    </div>

                </div>

            </div>

            <template slot="actions">
                <button type="submit" class="button is-success">{{$str_change_file2}}</button>
            </template>
        </modal>

        <modal id="editPhotoModal" size="lg">
            <template slot="header">{{$str_edit_photo}} #{{ file.id }}</template>
            <div class="columns">
                <div class="column is-7">
                    <div class="photo-editor-viewer">
                        <img src="/i/b.gif" class="spacer" />
                        <div class="photo-editor-cropper" v-if="edit_mode != 'q'">
                            <img v-if="file !== undefined" :src="'/pic/' + file.md5 + '/pic.' + file.ext + '?dt=' + file.dt"/>
                        </div>
                        <div class="photo-editor-scroller" v-else>
                            <img v-if="file !== undefined" :src="'/pic/' + file.md5 + '/pic.' + file.ext + '?dt=' + file.dt" style="width: auto; height: auto"/>
                        </div>
                    </div>
                </div>
                <div class="column is-5">

                    <div class="tabs is-small">
                        <ul>
                            <li :class="{'is-active': edit_mode == 'q'}"><a href="javascript:;" @click="edit_mode = 'q'">Качество</a></li>
                            <li :class="{'is-active': edit_mode == 'c'}"><a href="javascript:;" @click="edit_mode = 'c'">Кадр</a></li>
                            <li :class="{'is-active': edit_mode == 'r'}"><a href="javascript:;" @click="edit_mode = 'r'">Поворот</a></li>
                        </ul>
                    </div>

                    <div v-if="edit_mode == 'q'">
                        <div class="field">
                            <label class="label">Качество (%):</label>
                            <div class="field has-addons">
                                <div class="control is-expanded">
                                    <div class="select is-fullwidth">
                                        <select name="country" v-model="file.qual">
                                            <option :value="100" :selected="file.qual == 100">100</option>
                                            <option :value="95" :selected="file.qual == 95">95</option>
                                            <option :value="90" :selected="file.qual == 90">90</option>
                                            <option :value="85" :selected="file.qual == 85">85</option>
                                            <option :value="80" :selected="file.qual == 80">80</option>
                                            <option :value="75" :selected="file.qual == 75">75</option>
                                            <option :value="50" :selected="file.qual == 50">50</option>
                                            <option :value="25" :selected="file.qual == 25">25</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control">
                                    <button type="button"
                                            @click="manipulate_pic(file.id, {set_quality: file.qual})"
                                            class="button is-primary">Установить</button>
                                </div>
                            </div>
                        </div>
                        <div v-if="file.new_type != 'image/webp'" class="buttons">
                            <button type="button"
                                    @click="manipulate_pic(file.id, {set_webp: true})"
                                    class="button is-primary">
                                Преобразовать в WebP
                            </button>
                        </div>
                    </div>
                    <div v-if="edit_mode == 'c'">

                    </div>
                    <div v-if="edit_mode == 'r'">
                        <div class="field">
                            <label class="label">Угол по часовой стрелке (&pm;):</label>
                            <div class="field has-addons">
                                <div class="control is-expanded">
                                    <input type="text" v-model="file.angle" class="input" />
                                </div>
                                <div class="control">
                                    <button type="button"
                                            @click="manipulate_pic(file.id, {set_angle: file.angle})"
                                            class="button is-primary">Установить</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr size="1" />
                    <div class="tags">
                        <span class="tag is-info">
                            {{ file.filename }}
                        </span>
                    </div>
                    <div class="tags">
                        <span class="tag is-medium">
                            Тип: {{ file.new_type }}
                        </span>
                        <span class="tag is-medium">
                            Тип оригинала: {{ file.type }}
                        </span>
                        <span class="tag is-medium">
                            Качество: {{ file.qual }}%
                        </span>
                        <span class="tag is-medium">
                            Размер: {{ file.size|size_format }}
                        </span>
                        <span class="tag is-medium" v-if="file.orig_size">
                            Изменённый: {{ file.mod_size|size_format }}
                        </span>
                        <span class="tag is-medium" v-if="file.orig_size">
                            Оригинал: {{ file.orig_size|size_format }}
                        </span>
                    </div>
                    <div v-if="file.has_orig" class="buttons">
                        <button type="button"
                                @click="manipulate_pic(file.id, {set_webp: false})"
                                class="button is-primary">
                            Вернуть оригинал
                        </button>
                    </div>

                </div>
            </div>
        </modal>

    </div>




</photo-uploader>

{{script src="/mjs/comp-photos/photos.js" defer=1}}
<script type="application/javascript">
    emps_scripts.push(function(){
        EMPS.load_css('/mjs/comp-photos/photos.css');
    });

    {{if $lang == "en"}}
    var string_failed = "Can't upload: ";
    {{else}}
    var string_failed = "Невозможно загрузить: ";
    {{/if}}

</script>
