{{if $lang == "en"}}
    {{$str_select = "Select Files"}}
{{else}}
    {{$str_select = "Выбрать файлы"}}
{{/if}}
<script type="text/x-template" id="uploads-component-template">
    <div class="file-uploader">
        <input type="file" multiple id="files" ref="files" @change="handle_uploads()"/>

        <div class="columns is-multiline">
            <div :class="col_class()" v-for="(file, index) in queue">
                <button type="button"
                        @click="delete_queue(index)"
                        class="button is-outlined is-danger is-small">
                    <i class="fa fa-trash"></i>
                </button>
                <strong>{{"file.name"|js}}</strong>
            </div>
            <div :class="col_class()" v-for="(file, index) in files">
                <button type="button"
                        v-if="!readonly"
                        @click="delete_file(file)"
                        class="button is-outlined is-danger is-small">
                    <i class="fa fa-trash"></i>
                </button>
                <strong><a :href="file.viewUrl" target="_blank">{{"file.name"|js}}</a></strong>
            </div>
        </div>

        <div class="columns is-variable is-2" v-if="!readonly || canadd">
            <div class="column is-narrow buttons">
                <button type="button" @click="add_files()" class="button is-primary is-outlined">
                    <i class="fa fa-hand-pointer-o"></i> &nbsp; {{$str_select}}</button>
                <div></div>
            </div>
            <div class="column">
                <div class="button-size is-fullwidth">
                    <progress class="progress is-info"
                              v-if="is_uploading()"
                              :value="get_total_progress()" max="100"></progress>
                </div>

            </div>
        </div>
    </div>
</script>
<script src="/mjs/comp-uploads/uploads.js" defer></script>
<script>
    emps_scripts.push(function(){
        EMPS.load_css('/mjs/comp-uploads/uploads.css');
    });

    {{if $lang == "en"}}
    var string_failed = "Can't upload: ";
    {{else}}
    var string_failed = "Невозможно загрузить: ";
    {{/if}}

</script>