.htmlinsert input[type="file"]
{
    position: absolute;
    top: -100vh;
}

.htmlinsert a.pic, .htmlinsert .zoom-pic {
    display: block;
    padding: 0.1rem;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.htmlinsert .pic img {
    max-width: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.htmlinsert .zoom-pic {
    border: 1px solid rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.1);
}

.htmlinsert .zoom-pic img {
    max-width: none;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.htmlinsert .pic-sel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    color: black;
}