{{capture name="vted_out"}}
{{include file="db:_comp/selector"}}
{{if $has_tree}}
    {{include file="db:_comp/treeitem"}}
{{/if}}
{{include file="db:_comp/modal"}}

{{script src="/mjs/comp-vted/vted.js" defer=1}}
<script type="application/javascript">
    var vted_title = "{{$page.title}}";
    {{if $lang == "en"}}
    var string_saved = "Saved";
    var string_created = "Created";
    var string_deleted = "Deleted";

    {{else}}
    var string_saved = "Сохранено";
    var string_created = "Создано";
    var string_deleted = "Удалено";

    {{/if}}
</script>
{{/capture}}
{{if $vue3}}
    {{capture append="vue_out"}}
        {{$smarty.capture.vted_out}}
    {{/capture}}
{{else}}
    {{$smarty.capture.vted_out}}
{{/if}}
